#Home-nav {
  position: relative;
  padding-top: 20%;
  padding-bottom: 0;
  overflow: hidden;
  z-index: 99;
}
#Home-nav ul{
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
}
#Home-nav ul li {
  text-align: center;
  line-height: 110px;
  width: 20%;
  float: left;
  height: 100%;
  font-size: 12px;
  background-size: 30% 30%;
  background-repeat: no-repeat;
  background-position: center 32%;
}
#Home-nav ul .nav-1 {
  background-image: url('../../img/nav-1.png')
}
#Home-nav ul .nav-2 {
  background-image: url('../../img/nav-2.png')
}
#Home-nav ul .nav-3 {
  background-image: url('../../img/nav-3.png')
}
#Home-nav ul .nav-4 {
  background-image: url('../../img/nav-4.png')
}
#Home-nav ul .nav-5 {
  background-image: url('../../img/nav-5.png')
}
